	<!-- HABILIDADES -->
	<div class="experiencia habilidadesSoftAndHard" id="habilidades">
		<h3>Habilidades</h3>
		<div class="column column--right contenedorSkills">
			

			<div class="carta ">
				<h4 class="carta__title">Hard skills</h4>
				<i class="fa-regular fa-pen-to-square editBoton onlyOnLogin"></i>

				<div class="carta__skills">
					
					<div class="carta__skills__item">
						<p class="skills__text"> Html</p>
						<div class="skills__bar skills__bar--90"></div>
					</div>

					<div class="carta__skills__item">
						<p class="skills__text"> CSS</p>
						<div class="skills__bar skills__bar--70"></div>
					</div>

					<div class="carta__skills__item">
						<p class="skills__text"> Javascript</p>
						<div class="skills__bar skills__bar--50"></div>
					</div>
		
				</div>

			</div>

			<div class="carta ">
				<h4 class="carta__title">Soft skills</h4>
				<i class="fa-regular fa-pen-to-square editBoton onlyOnLogin"></i>
				
				<div class="carta__skills">
					
					<div class="carta__skills__item">
						<p class="skills__text">Trabajo <br/> en Equipo</p>
						<div class="skills__bar skills__bar--90"></div>
					</div>

					<div class="carta__skills__item">
						<p class="skills__text"> Compromiso</p>
						<div class="skills__bar skills__bar--70"></div>
					</div>

					<div class="carta__skills__item">
						<p class="skills__text"> Creatividad</p>
						<div class="skills__bar skills__bar--20"></div>
					</div>
		
				</div>
				
			</div>
			


		</div>
	</div>