	<!-- CONTACTO -->
	<div class="contactoinicio" id="contacto">
		<h3>Contacto</h3>
		<div class="contactoinicio2">
		<div class="list-group lista">
		  <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
		    Ver CV
		    <i class="fa-regular fa-pen-to-square close editBotonCard onlyOnLogin"></i>
			  	<button type="button" class="btn-close btn-close-white eliminar onlyOnLogin" aria-label="Close"></button>
		  </a>

		  <a href="#" class="list-group-item list-group-item-action">Linkedin
		  	<i class="fa-regular fa-pen-to-square close editBotonCard onlyOnLogin enNegro"></i>
			  	<button type="button" class="btn-close eliminar enNegro onlyOnLogin" aria-label="Close"></button></a>
		  <a href="#" class="list-group-item list-group-item-action">Github
		  <i class="fa-regular fa-pen-to-square close editBotonCard onlyOnLogin enNegro"></i>
			  	<button type="button" class="btn-close eliminar enNegro onlyOnLogin" aria-label="Close"></button></a>
		</div>
		</div>
	</div>