	<!-- PROYECTOS -->
	<div class="proyectosinicio experiencia" id="proyectos">
		<h3>Proyectos <i class="fa-solid fa-circle-plus agregar onlyOnLogin"></i> </h3>
		<div class="proyectos cartasExp d-flex justify-content-evenly">

			<div class="card" style="width: 18rem;">
				
			  		<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ-UYMtT2KZM2QAyVTwsjMXY-LU1D1InQrQ3w&usqp=CAU" alt="...">
				
			  <div class="card-body">
			  	<i class="fa-regular fa-pen-to-square close editBotonCard onlyOnLogin"></i>
			  	<button type="button" class="btn-close btn-close-white eliminar onlyOnLogin" aria-label="Close"></button> 
			    <h5 class="card-title">Card title</h5>
			    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			    <a href="#" class="btn btn-primary">Go somewhere</a>
			  </div>
			</div>

			<div class="card" style="width: 18rem;">
			  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ-UYMtT2KZM2QAyVTwsjMXY-LU1D1InQrQ3w&usqp=CAU" class="card-img-top cardimgsize" alt="...">
			  <div class="card-body">
			  	<i class="fa-regular fa-pen-to-square close editBotonCard onlyOnLogin"></i>
			  	<button type="button" class="btn-close btn-close-white eliminar onlyOnLogin" aria-label="Close"></button> 
			    <h5 class="card-title">Card title</h5>
			    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			    <a href="#" class="btn btn-primary">Go somewhere</a>
			  </div>
			</div>

			<div class="card" style="width: 18rem;">
			  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ-UYMtT2KZM2QAyVTwsjMXY-LU1D1InQrQ3w&usqp=CAU" alt="...">
			  <div class="card-body">
			  	<i class="fa-regular fa-pen-to-square close editBotonCard onlyOnLogin"></i>
			  	<button type="button" class="btn-close btn-close-white eliminar onlyOnLogin" aria-label="Close"></button> 
			    <h5 class="card-title">Card title</h5>
			    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			    <a href="#" class="btn btn-primary">Go somewhere</a>
			  </div>
			</div>
			
		</div>
		
	</div>