	<!-- EDUCACIOM -->
	<div class="experiencia educacion" id="educacion">
		<h3>Educacion <i class="fa-solid fa-circle-plus agregar onlyOnLogin"></i> </h3>
		<div class="cartasExp d-flex justify-content-evenly ">
			<div class="card" style="width: 18rem;">
			  <div class="card-body">
			  	<i class="fa-regular fa-pen-to-square close editBotonCard onlyOnLogin enNegro"></i>
			  	<button type="button" class="btn-close eliminar enNegro onlyOnLogin" aria-label="Close"></button>
			    <h5 class="card-title">Titulo</h5>
			    <h6 class="card-subtitle mb-2 text-muted">Institucion - Año</h6>
			    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			  </div>
			</div>

			<div class="card" style="width: 18rem;">
			  <div class="card-body">
			  	<i class="fa-regular fa-pen-to-square close editBotonCard onlyOnLogin enNegro"></i>
			  	<button type="button" class="btn-close eliminar enNegro onlyOnLogin" aria-label="Close"></button>
			    <h5 class="card-title">Titulo</h5>
			    <h6 class="card-subtitle mb-2 text-muted">Institucion - Año</h6>
			    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			  </div>
			</div>

			<div class="card" style="width: 18rem;">
			  <div class="card-body">
			  	<i class="fa-regular fa-pen-to-square close editBotonCard onlyOnLogin enNegro"></i>
			  	<button type="button" class="btn-close eliminar enNegro onlyOnLogin" aria-label="Close"></button>
			    <h5 class="card-title">Titulo</h5>
			    <h6 class="card-subtitle mb-2 text-muted">Institucion - Año</h6>
			    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			  </div>
			</div>

			
		</div>

		
	</div>