<!-- INICIO -->
<div class="d-flex justify-content-evenly inicio" id="inicio">
    <div class="d-flex justify-content-evenly continicio">
        <div class="profilepiccont">
            <i class="fa-regular fa-pen-to-square close onlyOnLogin"></i>
            <!--<button type="button" class="btn-close btn-close-white close" aria-label="Close"></button> -->
             <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png" class="profilepic" alt="profilepic">
        </div>
        <div class="datos">
            <h1 class="nombre">Nombre Apellido</h1>
            <i class="fa-regular fa-pen-to-square editBoton onlyOnLogin"></i>
            <br>
            <h2>Programacion fullstack</h2>
            <i class="fa-regular fa-pen-to-square editBoton onlyOnLogin"></i>
        </div>
    </div>
    <p class="acercaDe">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum. <i class="fa-regular fa-pen-to-square editBoton onlyOnLogin"></i> </p>


</div>