	<!-- EXPERIENCIA -->
	<div class="experiencia sinmargin" id="experiencia">
		<h3>Experiencia <i class="fa-solid fa-circle-plus agregar onlyOnLogin" ></i></h3>

		<div class="cartasExp d-flex justify-content-evenly">
			<div class="card" style="width: 18rem;">
			  <div class="card-body">
			  	<i class="fa-regular fa-pen-to-square close editBotonCard onlyOnLogin enNegro"></i>
			  	<button type="button" class="btn-close eliminar enNegro onlyOnLogin" aria-label="Close"></button>
			    <h5 class="card-title">Pasante Contable</h5>
			    <h6 class="card-subtitle mb-2 text-muted">Desde - Hasta</h6>
			    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
			  </div>
			</div>

			<div class="card" style="width: 18rem;">
			  <div class="card-body">
			  	<i class="fa-regular fa-pen-to-square close editBotonCard onlyOnLogin enNegro"></i>
			  	<button type="button" class="btn-close eliminar enNegro onlyOnLogin" aria-label="Close"></button>
			    <h5 class="card-title">Cajera</h5>
			    <h6 class="card-subtitle mb-2 text-muted">Desde - Hasta</h6>
			    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			  </div>
			</div>


			<div class="card" style="width: 18rem;">
			  <div class="card-body">
			  	<i class="fa-regular fa-pen-to-square close editBotonCard onlyOnLogin enNegro"></i>
			  	<button type="button" class="btn-close eliminar enNegro onlyOnLogin" aria-label="Close"></button>
			    <h5 class="card-title">Puesto trabajo con nombre muy largo</h5>
			    <h6 class="card-subtitle mb-2 text-muted">Desde - Hasta</h6>
			    <p class="card-text">ESTA PARTE EN EL FORM DE EDITAR TIENE QUE TENER UN MAXIMO DE 200 CARACTERES</p>
			  </div>
			</div>
		</div>

		
	</div>